body{
    margin:0;
    padding:0;

}

*{
    box-sizing: border-box;
}
.container{
    width:500px;
    height:500px;
    margin: 0 auto;
    background: red;
}

/*Custom Style here*/
#accordion{
    padding:15px;
}
#accordion .ui-state-active{
    background: green;
    border:1px solid #ccc;
}